In [53]:
import pandas as pd
import pickle 
from sklearn.metrics import accuracy_score

In [44]:
dataset_test = pd.read_csv('../data/raw/test.csv')
dataset_test.head()

,ID,Prct_uso_tc,Edad,Nro_prestao_retrasados,Prct_deuda_vs_ingresos,Mto_ingreso_mensual,Nro_prod_financieros_deuda,Nro_retraso_60dias,Nro_creditos_hipotecarios,Nro_retraso_ultm3anios,Nro_dependiente
0,105001,0.961524,40,0,0.484671,12100.0,11,0,1,0,0.0
1,105002,0.729196,71,0,0.542329,10500.0,13,0,1,0,0.0
2,105003,0.025195,49,0,27.000000,NaN,2,0,0,0,NaN
3,105004,0.106295,58,0,0.156893,5200.0,10,0,1,1,0.0
4,105005,0.003515,68,0,0.000299,10045.0,6,0,0,0,0.0

Proceso de preparacion de datos para predecir

In [45]:
with open('../artifacts/feature_eng_configs.pkl','rb') as f:
    feature_eng_config = pickle.load(f)

feature_eng_config

{'Ing_mensual_imputado': 6636, 'No_dependiente_imputado': 1}

In [46]:
#Removemos la columna ID

dataset_test.drop(['ID'], axis=1, inplace=True)

# Imputamos Mto Ingreso Mensual

dataset_test['Mto_ingreso_mensual'] = dataset_test['Mto_ingreso_mensual'].fillna(feature_eng_config['Ing_mensual_imputado'])


# Imputamos Nro dependientes

dataset_test['Nro_dependiente'] = dataset_test['Nro_dependiente'].fillna(feature_eng_config['No_dependiente_imputado'])

In [47]:
dataset_test.head()

,Prct_uso_tc,Edad,Nro_prestao_retrasados,Prct_deuda_vs_ingresos,Mto_ingreso_mensual,Nro_prod_financieros_deuda,Nro_retraso_60dias,Nro_creditos_hipotecarios,Nro_retraso_ultm3anios,Nro_dependiente
0,0.961524,40,0,0.484671,12100.0,11,0,1,0,0.0
1,0.729196,71,0,0.542329,10500.0,13,0,1,0,0.0
2,0.025195,49,0,27.000000,6636.0,2,0,0,0,1.0
3,0.106295,58,0,0.156893,5200.0,10,0,1,1,0.0
4,0.003515,68,0,0.000299,10045.0,6,0,0,0,0.0

Estandarizacion con objeto scaler de train

In [48]:
with open('../artifacts/std_scaler.pkl','rb') as f:
    std_scaler = pickle.load(f)

Cargamos modelo entranado

In [55]:
with open('../models/random_forest_v1.pkl','rb') as f:
    model = pickle.load(f)

    model

In [50]:
X_data_test_std = std_scaler.transform(dataset_test)
data_test_predicts = model.predict(X_data_test_std)

data_test_predicts

1407/1407 ━━━━━━━━━━━━━━━━━━━━ 1s 467us/step

array([[0.89219767],
       [0.50881636],
       [0.00112109],
       ...,
       [0.        ],
       [0.14673473],
       [0.8237426 ]], dtype=float32)

In [ ]:
X_data_test_std